.App {
  text-align: center;
}
.page-1 {
  background-color: rgb(16, 16, 43);
}
.page-2 {
  background-color: rgb(97, 136, 97);
  height: 100%;
}
.page-2-left {
  background-color: rgb(94, 112, 94);
}
.page-3 {
  background-color: rgb(31, 31, 158);
}
.page-3-left {
  background-color: rgb(67, 67, 139);
}
.page-4 {
  background-color: rgb(60, 179, 90);
}
.page-4-left {
  background-color: rgb(7, 71, 27);
}
.page-5 {
  background-color: rgb(161, 179, 60);
}
.page-5-left {
  background-color: rgb(71, 65, 7);
}
.page-6 {
  background-image: url("../src/assets/interior.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.page-7 {
  background-color: rgb(41, 41, 110);
}
.page-7-left {
  background-color: rgb(14, 14, 39);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
